<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%=title%></title>
  </head>
  <body>
    <a href="/">Back to Home</a>
    <% if(locals.user){%>
    <h1><%=title%></h1>
    <%if(folder.parentId){%>
    <a
      href="/folder/delete/<%=folder.id%>"
      onclick="return confirm('Are you sure you want to delete this folder?');"
      >Delete Folder</a
    >
    <form action="/folder/update/<%=folder.id%>" method="post">
      <input type="text" name="folderName" value="<%=folder.name%>" />
      <button type="submit">Update Folder</button>
    </form>
    <a href="/folder/view/<%=folder.parentId%>">Back</a>
    <%}%>

    <form
      action="/file/upload/<%=folder.id%>"
      method="post"
      enctype="multipart/form-data"
    >
      <input type="file" name="file" />
      <button type="submit">Upload</button>
    </form>
    <form action="/folder/create/<%=folder.id%>" method="post">
      <input type="text" name="folderName" />
      <button type="submit">Create Folder</button>
    </form>
    <%if(childrenFiles.length>0){%>
    <h2>Files</h2>
    <ul>
      <%childrenFiles.forEach(file=>{%>
      <li>
        <a href="/file/view/<%=file.id%>"><%=file.original_name%></a>
      </li>
      <%})%>
    </ul>
    <%}%> <%if(childrenFolders.length>0){%>
    <h2>Children Folders</h2>
    <ul>
      <%childrenFolders.forEach(folder=>{%>
      <li>
        <a href="/folder/view/<%=folder.id%>"><%=folder.name%></a>
      </li>
      <%})%>
    </ul>
    <%}%> <%}else{%>
    <a href="/auth/login">Login</a>
    <a href="/auth/register">Register</a>
    <%}%>
  </body>
</html>
